* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 400px;
  border: 1px solid #000;
}
#inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 300px;
  border: 1px solid #000;
}
.boxes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.boxes .box {
  border: 1px solid #000;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
}
