* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.box {
  width: 50%;
  height: 100px;
  margin: auto;
  /* border: 1px solid #000; */
  margin-top: 300px;
  /* background-color: teal; */
  padding-left: 100px;
  padding-top: 10px;
}
#btn1 {
  padding-bottom: 5px;
  padding-right: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  padding-left: 5px;
}

#btn2 {
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
}

#res {
  margin-top: 10px;
}
