* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.box {
  width: 90%;
  margin: auto;
  height: 200px;
  border: 1px solid #000;
  background-color: pink;
}
p {
  text-align: justify;
  padding: 10px;
  font-size: medium;
}
.heading {
  background-color: black;
  color: aliceblue;
}
