* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  width: 80%;
  margin: auto;
  border: 1px solid #000;
  height: 500px;
}
.b {
  display: flex;
}
#head {
  padding-left: 390px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.title {
  text-align: center;
  margin-top: 10px;
}
.box1 {
  width: 45%;
  height: 400px;
  border: 1px solid #000;
  margin-right: 10px;
  margin-left: 10px;
  background-color: pink;
  padding-left: 30px;
}
.box2 {
  margin-right: 10px;
  width: 45%;
  height: 400px;
  background-color: pink;
  border: 1px solid #000;
  padding-left: 30px;
}

div {
  display: inline;
}
p {
  display: inline;
}
