/* ha pan dark theme sathi us ekrnar ahe */
.toggle_thme {
  /* he clr palat vrun am=naych serch krun dark theme clr ->vs code dark clr theme */
  background-color: #252526;
  color: white;
}
.btn {
  padding: 10px 20px;
  border: none;
  font-weight: 400;
  color: white;
  background-color: royalblue;
}
